section {
  padding: 50px 0;
}

html, body {
  overflow-x: hidden;
}

body {
  font-family: 'inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #fff;
}
.icon{
  width: 100%;
  padding: 5px;
  cursor: pointer;
}

h1 {
  font-family: 'inter', sans-serif;
  font-size: 300%;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  padding-top: 50px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  font-family: 'inter', sans-serif;
}
.subtitulo{
  font-family:  'inter', sans-serif;
  font-size: 22px;
  font-weight: 700;
}
header {

}
.abertura{
  padding-top: 50px;
}
header p {
  font-family: 'inter', sans-serif;
  /* color: rgba(255, 255, 255, 0.4); */
  margin-bottom: 0;
  font-size: 20px;
  text-align: left;
  margin-top: 10px;
  padding-right: 10%;
}
.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* proporção 16:9 */
  height: 0;
  overflow: hidden;
  border-radius: 8px; /* opcional */
  margin-top: 1rem;   /* espaçamento opcional */
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
h2{
  max-width: 45%;
  /* position: relative; */
  font-family: 'inter', sans-serif;
  font-weight: 600;
  color: black;
  bottom: 5px;
  left: 20px;
  height: 50px;
}

footer .container::before, footer .container::after {
  display: none;
}

.texto {
/* position: relative; */
max-width: 45%;
}

.linha {
  margin-top: 0px;
  margin-bottom: 0px;
   height: 1px;
  background-image: linear-gradient(90deg, #ebf1f2, #ebf1f2 75%, transparent 75%, transparent 100%);
  background-size: 10px 1px;
  border: none;
}

.timeline {
  position: relative;
}

.timeline::before {
  content: '';
  background: #ebf1f2;
  width: 2px;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.timeline-item {
  width: 100%;
  margin-bottom: 70px;
}
.timeline-item:nth-child(even) .timeline-content {
  float: right;
  /*padding: 40px 30px 10px 30px;*/
}
.timeline-item:nth-child(even) .timeline-content .date_verde {
  right: auto;
  left: 0;
}
.timeline-item:nth-child(even) .timeline-content .date_azul {
  right: auto;
  left: 0;
}
.timeline-item:nth-child(even) .timeline-content .date_vermelho {
  right: auto;
  left: 0;
}
.timeline-item:nth-child(even) .timeline-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  left: -15px;
  border-width: 10px 15px 10px 0;
  border-color: transparent transparent; transparent transparent;
}
.timeline-item::after {
  content: '';
  display: block;
  clear: both;
}

.timeline-content {
  position: relative;
  width: 45%;
  padding: 20px 20px 5px 20px;
  background: #EBF1F2;
  font-size: 14px;
}
.timeline-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  right: -15px;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent transparent;
}

.timeline-img {
  width: 12px;
  height: 12px;
  background: #607989;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: -25px;
  margin-left: -6px;
}

.timeline-card {
  padding: 0 !important;
}
.timeline-card p {
  padding: 0 20px;
}
.timeline-card a {
  margin-left: 20px;
}
.timeline-card h3 {
  font-family: 'inter', sans-serif;
  margin-left: 20px;
}
.timeline-img-header img{
  display: block;
  margin: 5px auto;
  max-width: 100%;
}
.timeline-img-header{
  display: inline-block;
  margin: 5px auto;
  max-width: 100%;
}
.timeline-img-header h3 {
  font-family: 'inter', sans-serif;
  color: black;
  position: absolute;
  bottom: 5px;
  left: 20px;
}
.logo{
  width: 100%;
}
blockquote {
  margin-top: 30px;
  color: #757575;
  border-left-color: #3F51B5;
  padding: 0 20px;
}
.marcatexto {
    box-shadow: 15px 0 0 0 #607989, -15px 0 0 0 #607989;
    background: #607989;
    display: inline;
    padding: 7px 0 !important;
    position: relative;
    font-size: 16px;
    font-weight: 600;
    font-family: 'inter', sans-serif;
}
.icones p{
  font-weight: 700;
}
.bibliografia p{
  font-weight: 700;
    font-size: 12px;
    margin-bottom: 7px;
}
.bibliografia{
  text-align: left;
  padding: 20px 20px 20px 20px;
}
.date_verde {
  background: #2ECC71;
  display: inline-block;
  color: #000;
  padding: 2px 10px 2px 10px;
  position: absolute;
  top: -36px;
  right: 0;
  font-size: 22px;
  font-weight: 800;
}

.date_azul {
  background: #3AA3E4;
  display: inline-block;
  color: #000;
  padding: 2px 10px 2px 10px;
  position: absolute;
  top: -36px;
  right: 0;
  font-size: 22px;
  font-weight: 800;
}
.date_vermelho{
  background: #EE746C;
  display: inline-block;
  color: #000;
  padding: 2px 10px 2px 10px;
  position: absolute;
  top: -36px;
  right: 0;
  font-size: 22px;
  font-weight: 800;
}
.destaque{
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
.titulo_menor{
  font-family: "Bebas Neue", sans-serif;
  font-size: 48px;
  font-weight: 100;
  color: #828282;
  text-align: left;
}
.titulo_maior{
  font-family: "Bebas Neue", sans-serif;
  font-size: 84px;
  font-weight: 500;
  color: #000;
  text-align: left;
  line-height: 0.87;
}
#governo{
  background-color: #ebf1f2;
  margin-bottom: 60px;
}
#video{
  background-color: #ebf1f2;
}
.video{
  width: 70%;
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 990px) {
p, li{
  font-size: 14px;
  }
  .icon {
  width: 100%;
  padding: 0px;
}
.titulo_menor{
  font-family: "Bebas Neue", sans-serif;
  font-size: 45px;
  font-weight: 100;
  color: #828282;
  text-align: center;
}
.titulo_maior{
  font-family: "Bebas Neue", sans-serif;
  font-size: 82px;
  font-weight: 500;
  color: #000;
  text-align: center;
  line-height: 0.87;
}
header p {
  font-family: 'inter', sans-serif;
  /* color: rgba(255, 255, 255, 0.4); */
  margin-bottom: 0;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}
.logo{
  width: 42%;
}
}


@media screen and (max-width: 768px) {
.logo{
width: 46%;
}
.timeline::before {
  left: 50px;
}
.timeline .timeline-img {
  left: 50px;
}
.timeline .timeline-content {
  max-width: 100%;
  width: auto;
  margin-left: 70px;
}
.timeline .timeline-item:nth-child(even) .timeline-content {
  float: none;
}
.timeline .timeline-item:nth-child(odd) .timeline-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  left: -15px;
  border-width: 10px 15px 10px 0;
  border-color: transparent #fff transparent transparent;
}
.titulo_menor{
  font-family: "Bebas Neue", sans-serif;
  font-size: 45px;
  font-weight: 100;
  color: #828282;
  text-align: center;
}
.titulo_maior{
  font-family: "Bebas Neue", sans-serif;
  font-size: 70px;
  font-weight: 500;
  color: #000;
  text-align: center;
  line-height: 0.87;
}
header p {
  font-family: 'inter', sans-serif;
  /* color: rgba(255, 255, 255, 0.4); */
  margin-bottom: 0;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  padding-right: 0;
}
h1{
  font-size: 250%;
  padding: 10px;
}
header p {
  font-size: 16px;

}

h2, .texto{
  margin-left: 70px;
  max-width: 100%;

}
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
p, li{
    font-size: 14px;
}

.icon {
width: 100%;
padding: 10px;
}
.subtitulo {
    font-family: 'inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
}
.video{
  width: 100%;
}
.date_verde {
  background: #2ECC71;
  display: inline-block;
  color: #000;
  padding: 2px 10px 2px 10px;
  position: absolute;
  top: -36px;
  left: 0;
  right: auto;
  font-size: 22px;
  font-weight: 800;
}

.date_azul {
  background: #3AA3E4;
  display: inline-block;
  color: #000;
  padding: 2px 10px 2px 10px;
  position: absolute;
  top: -36px;
  left: 0;
  right: auto;
  font-size: 22px;
  font-weight: 800;
}
.date_vermelho{
  background: #EE746C;
  display: inline-block;
  color: #000;
  padding: 2px 10px 2px 10px;
  position: absolute;
  top: -36px;
  left: 0;
  right: auto;
  font-size: 22px;
  font-weight: 800;
}
}



/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
p, li{
  font-size: 14px;
    }
}


/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  .video{
  width: 100%;
}

p, li{
    font-size: 14px;
}
.titulo_menor{
  font-family: "Bebas Neue", sans-serif;
  font-size: 36px;
  font-weight: 100;
  color: #828282;
  text-align: center;
}
.titulo_maior{
  font-family: "Bebas Neue", sans-serif;
  font-size: 50px;
  font-weight: 500;
  color: #000;
  text-align: center;
  line-height: 0.87;
}
.logo {
  padding-bottom: 40px;
  width: 60%;
}
.abertura {
  padding-top: 0px;
}
    .icon {
  width: 100%;
  padding: 3px;
}
.date_verde {
  background: #2ECC71;
  display: inline-block;
  color: #000;
  padding: 2px 10px 2px 10px;
  position: absolute;
  top: -36px;
  left: 0;
  right: auto;
  font-size: 22px;
  font-weight: 800;
}

.date_azul {
  background: #3AA3E4;
  display: inline-block;
  color: #000;
  padding: 2px 10px 2px 10px;
  position: absolute;
  top: -36px;
  left: 0;
  right: auto;
  font-size: 22px;
  font-weight: 800;
}
.date_vermelho{
  background: #EE746C;
  display: inline-block;
  color: #000;
  padding: 2px 10px 2px 10px;
  position: absolute;
  top: -36px;
  left: 0;
  right: auto;
  font-size: 22px;
  font-weight: 800;
}
  }

